<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>
<script>
    function MainCtrl () {
        this.items = [{
            name: 'Набор ныряльщика',
            id: 7297510
        },{
            name: 'Шноркель',
            id: 0278916
        },{
            name: 'Гидрокостюм',
            id: 2389017
        },{
            name: 'Полотенце',
            id: 1000983
        }];
    }

    angular.module('app')
            .controller('MainCtrl', MainCtrl);

//    function EnterService() {
//
//    }

//    function EnterCtrl() {
//        $scope.enterForm = {};
//        $scope.enterForm.login = "Jakob";
//        $scope.enterForm.passw  = "Jenkov";
//    }
//
//    angular.module("app", [])
//            .controller("EnterCtrl", EnterCtrl);
</script>
<body ng-app="app">
<div ng-controller="MainCtrl as main">
    <ul>
        <li ng-repeat="item in main.items">
            {{ item.name }}
        </li>
    </ul>
</div>
</body>
</html>

<!--<div ng-controller="EnterCtrl" >-->
<!--<form name="enterForm">-->
<!--<p>-->
<!--Логин:<input type="text" id="login" ng-model="enterForm.login"/>-->
<!--</p>-->
<!--<p>-->
<!--Пароль:<input type="password" id="passw" ng-model="enterForm.passw"/>-->
<!--</p>-->
<!--<p>-->
<!--<input type="submit" value="Отправить" ng-click="enterForm.submitTheForm()"/>-->
<!--</p>-->
<!--</form>-->
<!--</div>-->